
@mixin radial-effect($color, $speed, $radius) {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: $speed;
  transition-duration: $speed;
  &:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color;
    border-radius: $radius;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: $speed;
    transition-duration: $speed;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  &:focus,
  &:active {
    color: white;
    &:before {
      -webkit-transform: scale(2);
      transform: scale(2);
    }
  }
}
